@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  position: relative;
  padding: 5rem 0;
}
@media screen and (max-width: 900px) {
  body {
    padding: 3rem 0 8rem;
  }
}

a {
  all: unset;
  cursor: pointer;
}

.darken {
  overflow: hidden;
}
.darken::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: hsl(240deg, 100%, 5%);
  opacity: 0.4;
}

.d-none {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: hsl(236deg, 13%, 42%);
}
.header__nav a:hover {
  color: hsl(35deg, 77%, 62%);
}
.header__nav-links {
  display: flex;
  gap: 3rem;
}
.header .btn-menu {
  display: none;
}
.header .active-menu {
  visibility: visible;
}
@media screen and (max-width: 900px) {
  .header .btn-menu {
    position: relative;
    display: block;
    z-index: 1;
  }
  .header__nav-links {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: hsl(36deg, 100%, 99%);
    padding: 15rem 3rem;
    font-size: 2rem;
    color: hsl(240deg, 100%, 5%);
  }
}

main {
  margin-top: 4rem;
}

.grid {
  display: grid;
  grid-template: 300px 180px/repeat(3, 1fr);
  gap: 3rem;
}
.grid-item-1 {
  background: url(../assets/images/image-web-3-desktop.jpg) no-repeat;
  background-size: cover;
  grid-row: 1;
  grid-column: 1/3;
}
.grid-item-2 {
  grid-row: 2;
  grid-column: 1;
}
.grid-item-3 {
  grid-row: 2;
  grid-column: 2;
}
.grid-item-4 {
  grid-row: 1/3;
  grid-column: 3;
}
.grid h1 {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 5.5rem;
}
.grid h2 {
  font-size: 3rem;
  color: hsl(35deg, 77%, 62%);
}
.grid p {
  font-size: 1.6rem;
  color: hsl(236deg, 13%, 42%);
  line-height: 2.5rem;
}
.grid .btn {
  margin-top: 3rem;
  display: inline-block;
  background-color: hsl(5deg, 85%, 63%);
  font-size: 1.6rem;
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}
.grid .btn:hover {
  background-color: hsl(240deg, 100%, 5%);
}
@media screen and (max-width: 900px) {
  .grid {
    grid-template: 300px repeat(3, auto)/1fr;
    gap: 1rem;
  }
  .grid-item-1 {
    background: url(../assets/images/image-web-3-mobile.jpg) no-repeat;
    background-size: 100%;
  }
  .grid-item-4 {
    margin-top: 5rem;
  }
  .grid-item-1 {
    grid-row: auto;
    grid-column: 1;
  }
  .grid-item-2 {
    grid-row: auto;
    grid-column: 1;
  }
  .grid-item-3 {
    grid-row: auto;
    grid-column: 1;
  }
  .grid-item-4 {
    grid-row: auto;
    grid-column: 1;
  }
  .grid h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
  }
  .grid p {
    font-size: 1.4rem;
  }
}

.new {
  background-color: hsl(240deg, 100%, 5%);
  padding: 3rem 2rem;
}
.new__item {
  padding: 2.2rem 0;
}
.new__item + .new__item {
  border-top: 1px solid rgba(197, 198, 206, 0.5);
}
.new h2 {
  margin-bottom: 2rem;
}
.new a {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(36deg, 100%, 99%);
  cursor: pointer;
}
.new a:hover {
  color: hsl(35deg, 77%, 62%);
}
.new p {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 3rem;
  color: hsl(233deg, 8%, 79%);
}
@media screen and (max-width: 900px) {
  .new a {
    font-size: 1.8rem;
  }
  .new p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

.section-second {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: hsl(236deg, 13%, 42%);
}
.section-second__item {
  width: 31%;
  flex-grow: 1;
}
.section-second__item img {
  width: 10rem;
  float: left;
  margin-right: 1.8rem;
}
.section-second__item h3 {
  font-size: 2.8rem;
  color: hsl(233deg, 8%, 79%);
  margin-bottom: 1rem;
}
.section-second__item a {
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(240deg, 100%, 5%);
}
.section-second__item a:hover {
  color: hsl(5deg, 85%, 63%);
}
.section-second__item p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1rem;
}
@media screen and (max-width: 900px) {
  .section-second {
    flex-direction: column;
    gap: 3rem;
  }
  .section-second__item {
    width: 100%;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
}
.footer .attribution {
  width: 30rem;
  margin: 0 auto;
}
.footer .attribution a {
  text-decoration: underline;
}
.footer .attribution a:hover {
  color: hsl(35deg, 77%, 62%);
}

/*# sourceMappingURL=main.css.map */
