.footer {
    width: 100%;
    position: absolute;
    bottom: .5rem;

    .attribution {
        width: 30rem;
        margin: 0 auto;

        a {
            text-decoration: underline;

            &:hover {
                color: $color-soft-orange;
            }
        }
    }
}