.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: $color-dark-grayish-blue;

    &__nav {

        a:hover {
            color: $color-soft-orange;
        }

        &-links {
            display: flex;
            gap: 3rem;
        }
    }

    .btn-menu {
        display: none;
    }

    .active-menu {
       visibility: visible;
    }

    @media screen and (max-width: $break-mobile) {
        .btn-menu {
            position: relative;
            display: block;
            z-index: 1;
        }
                
        &__nav-links {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            background-color: $color-off-white;
            padding: 15rem 3rem;
            font-size: 2rem;
            color: $color-very-dark-blue;
        }
    }
}