.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: $color-dark-grayish-blue;

    &__nav {
        display: flex;
        gap: 3rem;

        a:hover {
            color: $color-soft-orange;
        }
    }
}