.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: $color-dark-grayish-blue;

    &__nav {

        a:hover {
            color: $color-soft-orange;
        }

        &-links {
            display: flex;
            gap: 3rem;
        }
    }

    .btn-menu {
        display: none;
    }

    @media screen and (max-width: $break-mobile) {
        .btn-menu {
            display: block;
        }
                
        &__nav-links {
            display: none;
        }
    }
}